# Check slight discrepancy between the time series and Bill's values

Theme Song: Live and Let Die<br>
Artist: Guns N' Roses<br>
Album: Use Your Illusion I<br>
Released: 1991

- no issues, as expected

In [1]:
from fair.forcing.ghg import meinshausen, etminan
import pandas as pd
import numpy as np

In [2]:
ghg_obs = pd.read_excel('../data_input/observations/LLGHG_history_AR6_v9_updated.xlsx', skiprows=22, sheet_name="MR_output", index_col=0)
for addyear in range(1751,1850):
    ghg_obs.loc[addyear, 'YYYY'] = np.nan
ghg_obs = ghg_obs.sort_index()
ghg_obs = ghg_obs.interpolate()
ghg_obs

,CO2,CH4,N2O,HFC-134a,HFC-23,HFC-32,HFC-125,HFC-143a,HFC-152a,HFC-227ea,...,C7F16,C8F18,CFC-112,CFC-112a,CFC-113a,CFC-114a,HCFC-133a,HCFC-31,HCFC-124,YYYY
YYYY,,,,,,,,,,,,,,,,,,,,,
1750,278.300,729.2000,270.1000,0.0000,0.000,0.000218,0.0000,0.0000,0.0000,0.000004,...,0.00,0.0,0.000,0.000,0.00,0.00,0.00000,0.000,0.00,NaN
1751,278.372,729.9840,270.1200,0.0000,0.000,0.000218,0.0000,0.0000,0.0000,0.000004,...,0.00,0.0,0.000,0.000,0.00,0.00,0.00000,0.000,0.00,NaN
1752,278.444,730.7680,270.1400,0.0000,0.000,0.000218,0.0000,0.0000,0.0000,0.000004,...,0.00,0.0,0.000,0.000,0.00,0.00,0.00000,0.000,0.00,NaN
1753,278.516,731.5520,270.1600,0.0000,0.000,0.000218,0.0000,0.0000,0.0000,0.000004,...,0.00,0.0,0.000,0.000,0.00,0.00,0.00000,0.000,0.00,NaN
1754,278.588,732.3360,270.1800,0.0000,0.000,0.000218,0.0000,0.0000,0.0000,0.000004,...,0.00,0.0,0.000,0.000,0.00,0.00,0.00000,0.000,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,399.420,1834.0055,328.3025,83.4145,28.042,9.985158,18.0910,17.5655,6.5970,1.096239,...,0.11,0.0,0.412,0.066,0.68,1.05,0.39897,0.083,1.02,NaN
2016,402.850,1842.1665,329.1240,89.4825,28.950,11.972602,20.4815,19.1555,6.6600,1.205802,...,0.11,0.0,0.412,0.067,0.68,1.04,0.42501,0.083,1.02,NaN
2017,405.000,1849.2365,330.0400,95.7485,29.975,14.153317,23.2450,20.8340,6.8175,1.327504,...,0.11,0.0,0.412,0.067,0.68,1.04,0.43989,0.083,1.02,NaN
2018,407.390,1857.7770,331.1905,101.8415,31.158,16.556241,26.3125,22.4245,7.0135,1.457735,...,0.11,0.0,0.412,0.067,0.68,1.04,0.43896,0.083,1.02,NaN
2019,409.850,1866.3275,332.0910,107.5910,32.414,19.980503,29.4030,24.0120,7.1345,1.594721,...,0.11,0.0,0.412,0.067,0.68,1.04,0.43152,0.083,1.02,NaN

In [3]:
co2_pi = ghg_obs.loc[1750,'CO2']
ch4_pi = ghg_obs.loc[1750,'CH4']
n2o_pi = ghg_obs.loc[1750,'N2O']

co2_2019 = ghg_obs.loc[2019,'CO2']
ch4_2019 = ghg_obs.loc[2019,'CH4']
n2o_2019 = ghg_obs.loc[2019,'N2O']

In [4]:
meinshausen(np.array([co2_2019, ch4_2019, n2o_2019]), Cpi=np.array([co2_pi, ch4_pi, n2o_pi]), scale_F2x=False) * np.array([1.05, 0.86, 1.07])

array([2.15627793, 0.54398299, 0.20846264])

In [5]:
# Now repeat with values to 1 decimal place
co2_2019 = 409.9
ch4_2019 = 1866.3
n2o_2019 = 332.1

co2_pi = 278.3
ch4_pi = 729.2 
n2o_pi = 270.1

In [6]:
meinshausen(np.array([co2_2019, ch4_2019, n2o_2019]), Cpi=np.array([co2_pi, ch4_pi, n2o_pi]), scale_F2x=False) * np.array([1.05, 0.86, 1.07])

array([2.15697135, 0.54397227, 0.20849088])